# azureml-demo-component
 The component is a simple Python script that takes a CSV file as input and outputs a CSV file with the same data but with an additional column that contains the sum of the values in each row. The component is meant to be used in an Azure ML pipeline.

For detailed information about the component, please refer to the [README](https://github.com/kamimanzoor/azureml-demo-component?tab=readme-ov-file) file.

# Changelog
To view changelog of this version, please refer to the [@@version@@](@@version_link@@) file.